<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.Title %>
</p>

<div>
  <% if @listing.picture.attached? %>
    <%= image_tag @listing.picture, alt: @listing.Title %>
  <% else %>
    <%= image_tag "https://placekitten.com/200/300", alt: @listing.Title %>
  <% end %>
</div>

<p> 
  <strong>Seller:</strong>
  <%= @listing.user.username.capitalize %>
</p>

<% if @listing.sold %>
   <p> Sold out! </p>
<% elsif current_user && current_user.id == @listing.user_id %>
    <%= link_to 'Edit', edit_listing_path(@listing) %>
    <%= link_to 'Delete', @listing, method: :delete, data: { confirm: 'Are you sure you want to delete this listing?' } %>
<% elsif current_user %>
  <%= button_to "Buy", place_order_path %>
<% else %>
  <p> Please log in to make this purchase </p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= format_condition(@listing.condition.capitalize) %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category_id %>
</p>

<% if @listing.sold %>
   <p> Sold out! </p>
<% elsif current_user && current_user.id == @listing.user_id %>
<% elsif current_user %>
  <%= button_to "Buy", place_order_path %>
<% else %>
  <p> Please log in to make this purchase </p>
<% end %>

