<h1>Your Orders</h1>
<p> Coming your way</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Condition</th>
      <th>Price</th>
      <th>Seller</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bought_items.each do |item| %>
      <tr>
        <td><%= item.listing.Title %></td>
        <td><%= item.listing.description %></td>
        <td><%= format_condition(item.listing.condition.capitalize) %></td>
        <td><%= number_to_currency(item.listing.price) %></td>
        <td><%= item.listing.user.username.capitalize %></td>
        <td><%= item.listing.category.name %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>